/* line 17, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../src/sass/lp.scss */
#wrapper {
  font-family: sans-serif;
}

/* line 15, ../src/sass/lp.scss */
.header {
  width: 100%;
  max-width: 960px;
  min-width: 640px;
  height: 420px;
  margin: auto;
  background-color: #eee;
  position: relative;
}
/* line 24, ../src/sass/lp.scss */
.header h1, .header h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
/* line 31, ../src/sass/lp.scss */
.header h1 {
  bottom: 50%;
  margin-bottom: 22px;
  font-size: 30px;
}
/* line 36, ../src/sass/lp.scss */
.header h2 {
  top: 50%;
  margin-top: 22px;
  font-size: 20px;
}

/* line 43, ../src/sass/lp.scss */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 8, ../src/sass/lib/_bem-element.scss */
.post, .post--text, .post--photo, .post--video, .post--link {
  width: 640px;
  margin: auto;
  color: #002f2f;
  font-size: 16px;
  line-height: 30px;
  border-bottom: solid 1px black;
  padding: 22px 0px;
  overflow: hidden;
}
/* line 65, ../src/sass/lp.scss */
.post p, .post--text p, .post--photo p, .post--video p, .post--link p {
  margin: 44px 0px;
}
/* line 69, ../src/sass/lp.scss */
.post strong, .post--text strong, .post--photo strong, .post--video strong, .post--link strong {
  display: block;
  text-align: center;
  font-size: 26px;
  line-height: 1;
}
/* line 76, ../src/sass/lp.scss */
.post img, .post iframe, .post--text img, .post--text iframe, .post--photo img, .post--photo iframe, .post--video img, .post--video iframe, .post--link img, .post--link iframe {
  display: block;
  margin: auto;
  max-width: 640px;
}

/* line 83, ../src/sass/lp.scss */
.post--video iframe {
  width: 640px;
  height: 360px;
}

/* line 88, ../src/sass/lp.scss */
.post--video .tumblr_video_container {
  max-width: 640px;
}

/* line 92, ../src/sass/lp.scss */
.post--link {
  text-align: center;
}

/* line 96, ../src/sass/lp.scss */
.footer {
  width: 640px;
  margin: auto;
  text-align: center;
  padding: 66px 0px;
}
