/* line 17, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../src/sass/lp.scss */
#wrapper {
  margin: auto;
  font-family: sans-serif;
}

/* line 12, ../src/sass/lp.scss */
.intro, .movie, .howtouse, .download, .footer {
  min-width: 980px;
}

/* line 16, ../src/sass/lp.scss */
.intro {
  overflow: hidden;
  text-align: center;
  position: relative;
}

/* line 22, ../src/sass/lp.scss */
.intro__cover {
  height: 650px;
  width: 300%;
  margin-left: -100%;
}
/* line 27, ../src/sass/lp.scss */
.intro__cover span {
  display: none;
}

/* line 32, ../src/sass/lp.scss */
.cover {
  display: inline-block;
  width: 980px;
  height: 650px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 39, ../src/sass/lp.scss */
.nav--prev, .nav--next {
  position: absolute;
  display: block;
  top: 325px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  cursor: pointer;
}
/* line 50, ../src/sass/lp.scss */
.nav--prev span, .nav--next span {
  display: none;
}

/* line 55, ../src/sass/lp.scss */
.nav--prev {
  margin-left: -490px;
}

/* line 58, ../src/sass/lp.scss */
.nav--next {
  margin-left: 490px;
}

/* line 62, ../src/sass/lp.scss */
.movie {
  background-color: white;
  text-align: center;
  overflow: hidden;
  padding: 70px 0px;
}

/* line 69, ../src/sass/lp.scss */
.movie__title {
  margin-bottom: 65px;
}
/* line 71, ../src/sass/lp.scss */
.movie__title img {
  display: block;
  margin: auto;
}

/* line 77, ../src/sass/lp.scss */
.howtouse {
  background-color: #e6e2af;
  position: relative;
  min-height: 700px;
  color: #002f2f;
  font-size: 17px;
  line-height: 27px;
}

/* line 87, ../src/sass/lp.scss */
.howtouse__left {
  position: absolute;
  right: 50%;
  top: 50%;
  margin-right: 110px;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

/* line 95, ../src/sass/lp.scss */
.howtouse__right {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

/* line 102, ../src/sass/lp.scss */
.howtouse__center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 109, ../src/sass/lp.scss */
.howtouse__title {
  margin: 10px 0px;
}

/* line 113, ../src/sass/lp.scss */
.download {
  background-color: #046380;
  color: #e6e2af;
  position: relative;
  min-height: 700px;
  font-size: 17px;
  line-height: 27px;
}

/* line 123, ../src/sass/lp.scss */
.download__left {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

/* line 130, ../src/sass/lp.scss */
.download__right {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 110px;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

/* line 138, ../src/sass/lp.scss */
.download__center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 145, ../src/sass/lp.scss */
.download__title {
  margin: 10px 0px;
}

/* line 149, ../src/sass/lp.scss */
.download__link--ios, .download__link--android {
  display: inline-block;
  width: 190px;
  height: 62px;
}
/* line 153, ../src/sass/lp.scss */
.download__link--ios span, .download__link--android span {
  display: none;
}

/* line 158, ../src/sass/lp.scss */
.footer {
  height: 70px;
  background-color: #002f2f;
  line-height: 70px;
  text-align: center;
  color: white;
}

/* line 166, ../src/sass/lp.scss */
.posts {
  display: none;
}
