@import "compass";
@import "compass/reset";

@import "lib/bem-element";

$post_types: (text, photo, video, link);

$content_width: 640px;

$short_margin: 44px;
$long_margin: 66px;

#wrapper {
    font-family: sans-serif;
}

.header {
    width: 100%;
    max-width: 960px;
    height: 420px;
    margin: auto;
    position: relative;

    h1, h2 {
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    h1 {
        bottom: 50%;
        margin-bottom: $short_margin / 2;
        font-size: 30px;
    }
    h2 {
        top: 50%;
        margin-top: $short_margin / 2;
        font-size: 20px;
    }
}

.header__guide {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.guide {
    $size: 10px;
    $outer_size: $size * 1.5;

    display: inline-block;
    width: $size;
    height: $size;
    @include border-radius($size * 1.5);

    border-style: solid;
    border-color: white;
    border-width: ($outer_size - $size) / 2;

    margin: 0px ($size / 2);

    position: relative;

    &:before {

        content: '';
        display: block;
        width: $outer_size;
        height: $outer_size;
        background-color: white; 

        position: absolute;
        top: -($outer_size - $size) / 2;
        left: -($outer_size - $size) / 2;

        @include border-radius($outer_size);
        @include scale(0);

        @include transition-property(transform);
        @include transition-duration(0.5s);
    }

    &.active:before {
        @include scale(1);
    }
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-position: center center;
    @include background-size(cover);
}

.sns {
    text-align: center;
    margin-top: $short_margin;
    li {
        display: inline-block;
    }
}

@include bem-element(post, $post_types) {
    width: $content_width;
    margin: auto; 
    max-width: 94%;

    color: #002f2f;
    font-size: 16px;
    line-height: 30px;

    border-bottom: solid 1px black;
    padding: ($long_margin - $short_margin) 0px;

    overflow: hidden;

    p {
        margin: $short_margin 0px;
    }

    strong {
        display: block;
        text-align: center;
        font-size: 26px;
        line-height: 1;
    }

    img, iframe {
        display: block;
        margin: auto;
        max-width: $content_width;
    }
}

.post--video iframe {
    width: $content_width;
    height: 9 * $content_width / 16
}

.post--video .tumblr_video_container {
    max-width: $content_width;
}

.post--link {
    text-align: center;
}

.footer {
    margin: auto;
    text-align: center;
    padding: $long_margin 0px;
}