@import "compass";
@import "compass/reset";

@import "lib/bem-element";

$content_width: 640px;

$short_margin: 44px;
$long_margin: 66px;

#wrapper {
    font-family: sans-serif;
}


@include bem-element(post, (text, photo, video)) {
    width: $content_width;
    margin: auto; 

    color: #002f2f;
    font-size: 16px;
    line-height: 30px;

    border-bottom: solid 1px black;
    padding: ($long_margin - $short_margin) 0px;


    p {
        margin: $short_margin 0px;
    }

    strong {
        display: block;
        text-align: center;
        font-size: 26px;
        line-height: 1;
    }

    img {
        display: block;
        margin: auto;
        max-width: $content_width;
    }
}